# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / Temp
# =========================
*.log
*.tmp

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
.pub-cache/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/*.keystore
android/app/google-services.json
android/build/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# =========================
# macOS
# =========================
macos/Flutter/
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/ephemeral/

# =========================
# Windows
# =========================
windows/flutter/
windows/x64/
windows/build/
windows/flutter/ephemeral/

# =========================
# Linux
# =========================
linux/flutter/
linux/build/
linux/flutter/ephemeral/

# =========================
# Web
# =========================
web/.last_build_id

# =========================
# Environment Files
# =========================
.env
.env.*
*.env

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
.next/

# =========================
# Python / Backend
# =========================
__pycache__/
*.pyc
venv/
